function Main.main 0
push constant 3589
push constant 24
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 1024
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 9
push constant 0
call Math.pow 2
call Output.printInt 1
pop temp 0
push constant 0
return
