function Main.main 0
push constant 6
push constant 2
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 4578
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
push constant 3
call Math.pow 2
call Output.printInt 1
pop temp 0
push constant 0
return
