function Clock.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 256
pop this 0
push constant 3
pop this 1
push constant 310
pop this 2
push constant 128
pop this 3
push pointer 0
call Clock.deleteClock 1
pop temp 0
push pointer 0
call Clock.move 1
pop temp 0
push pointer 0
return
function Clock.deleteClock 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Clock.drawClock 1
pop temp 0
push constant 0
return
function Clock.drawClock 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 256
push constant 128
push constant 6
call Screen.drawCircle 3
pop temp 0
push constant 254
push constant 2
push constant 258
push constant 30
call Screen.drawRectangle 4
pop temp 0
push constant 254
push constant 226
push constant 258
push constant 254
call Screen.drawRectangle 4
pop temp 0
push constant 130
push constant 126
push constant 158
push constant 130
call Screen.drawRectangle 4
pop temp 0
push constant 354
push constant 126
push constant 382
push constant 130
call Screen.drawRectangle 4
pop temp 0
push constant 256
push constant 128
push this 0
push this 1
call Screen.drawLine 4
pop temp 0
push constant 256
push constant 128
push this 2
push this 3
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Clock.move 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 15
lt
not
if-goto WHILE_END0
push local 0
push constant 5
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 10
add
pop this 0
push this 1
push constant 3
add
pop this 1
label IF_FALSE0
push local 0
push constant 4
gt
push local 0
push constant 10
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 10
add
pop this 0
push this 1
push constant 9
add
pop this 1
label IF_FALSE1
push local 0
push constant 9
gt
push local 0
push constant 15
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push constant 3
add
pop this 0
push this 1
push constant 10
add
pop this 1
label IF_FALSE2
push local 0
push constant 1
add
pop local 0
push pointer 0
call Clock.drawClock 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Clock.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
